<!doctype html>
<html>
  <head>
    <title>Brian C Jenkins API Server</title>
  </head>
  <body>
    <h1>Brian C Jenkins API Server</h1>
    <p>
      Just a little service that accpets various requests for calculations and sends back JSON answers
      for use on <a href="http://www.briancjenkins.com/">the website of Brian C Jenkins</a>
      of the Economics department at the University of California, Irvine.
    </p>
    <p>The <a href="https://github.com/letsgoexploring/backend-api">source code for this service</a> can be found on github.</p>
  </body>
</html>
